# ML Model to predit rideshare trip fare

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style("whitegrid")

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [15]:
raw_df = pd.read_csv("trips_normalized.csv")
df = raw_df.copy()

In [16]:
df.IS_POOLED = df.IS_POOLED.apply(lambda x: 1 if x else 0)

In [21]:
df.describe()

           DURATION      DISTANCE          FARE     IS_POOLED  TRIPS_POOLED
count  9.765982e+06  9.765982e+06  9.765982e+06  9.765982e+06  9.765982e+06
mean   1.800637e+03  1.218373e+01  2.520575e+01  3.637159e-01  1.561116e+00
std    9.161782e+02  8.506358e+00  1.479280e+01  4.810683e-01  1.109100e+00
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  1.000000e+00
25%    1.119000e+03  5.200000e+00  1.273000e+01  0.000000e+00  1.000000e+00
50%    1.691000e+03  1.080000e+01  2.250000e+01  0.000000e+00  1.000000e+00
75%    2.361000e+03  1.750000e+01  3.505000e+01  1.000000e+00  2.000000e+00
max    4.962000e+03  4.290000e+01  7.914000e+01  1.000000e+00  2.400000e+01

In [36]:
data = df[["DISTANCE", "DURATION", "IS_POOLED", "TRIPS_POOLED"]]
target = df.FARE

In [37]:
x_train, x_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=7)

In [61]:
lrm = LinearRegression(normalize=True)

In [62]:
lrm.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [63]:
lrm.score(x_test, y_test)

0.7603450756555556

In [66]:
lrm.predict([[3.2, 801.6, 1, 2]])

array([6.31321858])

In [67]:
sub = df[(df.DISTANCE == 3.2) & (df.DURATION > 800) & (df.DURATION < 810) & (df.IS_POOLED == 1) & (df.TRIPS_POOLED == 2)]

In [68]:
sub.FARE.mean()

8.956119402985074

In [59]:
df

         DURATION  DISTANCE   FARE  IS_POOLED  TRIPS_POOLED
0          1289.0       3.3   7.50          1             4
1          3512.0      19.1  40.15          0             1
2          1013.0       2.3   5.05          1             2
3           999.0       3.3  15.35          0             1
4          2072.0       7.4   7.50          1             4
...           ...       ...    ...        ...           ...
9765977    1340.0      12.1  20.05          0             1
9765978    3288.0      27.0  62.78          0             1
9765979    1414.0      16.7  61.80          0             1
9765980    2354.0       7.6  12.55          1             5
9765981    2373.0      30.3  50.29          0             1

[9765982 rows x 5 columns]